<div class="container-fluid">
    <div class="row" id="main">
        
        <div class="col-md-12">
            <app-sidebar></app-sidebar>
        
        
           <app-header></app-header>
           <app-dashboard></app-dashboard>
           <div class="row">
               <div class="col-md-6">
                   <app-line-chart></app-line-chart>
               </div>
               <div class="col-md-6">
                   <app-bar-chart></app-bar-chart>
               </div>
               <div class="col-md-6">
                <app-radar-chart></app-radar-chart>
               </div>
                <div class="col-md-6">
                    <app-pie-chart></app-pie-chart>
                </div>
                <div class="col-md-6">
                    <app-bubble-chart></app-bubble-chart>
                </div>
           </div>

           <app-table></app-table>
        </div>
    </div>
</div>