
<div id="mySidenav" class="sidenav">
  <h4 class="text-white text-center"><i class="fas fa-camera-retro"></i>  LK'Studio</h4>
   <hr class="bottom-line"/>
  <a href="javascript:void(0)" class="closebtn text-white" (click)="closeNav()">&times;</a>
  <a href="#"><i class="fas fa-university fa-lg"></i>&nbsp; DashBoard</a>
  <a href="#"><i class="far fa-gem fa-lg"></i>&nbsp; Icons</a>
  <a href="#"><i class="fas fa-thumbtack fa-lg"></i>&nbsp; Location</a>
  <a href="#"><i class="far fa-bell fa-lg"></i>&nbsp; Notification</a>
  <a href="#"><i class="far fa-user fa-lg"></i>&nbsp; Users Profile</a>
  <a href="#"><i class="fas fa-th-list fa-lg"></i>&nbsp; Table List</a>
  <a href="#"><i class="fab fa-acquisitions-incorporated fa-lg"></i>&nbsp; Typography</a>
</div>
