@import '../../scss/variables';
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $text-color;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 18px;
  }
  
  .sidenav a {
    padding: 16px 16px 22px 38px;
    text-decoration: none;
    font-size: 17px;
    color: $primary-color;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: -11px;
    right: -5px;
    font-size: 22px;
    margin-left: 0px;
  }
 
  .bottom-line{
    border-bottom: 1px solid $light-color;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    
  }
  @media screen and (max-width:1200px)
  {
    .sidenav .closebtn{
      top: -2px;
      right: 0px;
      font-size: 26px;
    }
  }
  




