<div class="container mt-5">
   <div class="row">
       <!-- Card-1 -->
       <div class="col-md-3">
           <div class="card">
               <div class="card-body">
                <div class="d-flex justify-content-between text-right">
                    <i class="fas fa-globe-americas fa-4x"></i>
                    <div>
                       <p class="card-text">Capacity</p>
                       <h4 class="card-heading">150GB</h4>
                    </div>
                 </div>
               </div>
                <div class="card-footer">
                    <h5 class="card-desc mt-1 mb-2"><i class="fas fa-sync-alt"></i>&nbsp; Update Now</h5>
                </div>
             </div>
       </div>
       <!-- Card-2 -->
       <div class="col-md-3">
        <div class="card">
            <div class="card-body">
             <div class="d-flex justify-content-between text-right">
                <i class="fas fa-coins fa-4x"></i>
                 <div>
                    <p class="card-text">Revenue</p>
                    <h4 class="card-heading">$1,350</h4>
                 </div>
              </div>
            </div>
             <div class="card-footer">
                 <h5 class="card-desc mt-1 mb-2"><i class="fas fa-calendar"></i>&nbsp; Last day</h5>
             </div>
          </div>
       </div>
       <!-- Card-3 -->
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                <div class="d-flex justify-content-between text-right">
                    <i class="fas fa-bezier-curve fa-4x"></i>
                    <div>
                        <p class="card-text">Errors</p>
                        <h4 class="card-heading">23</h4>
                    </div>
                </div>
                </div>
                <div class="card-footer">
                    <h5 class="card-desc mt-1 mb-2"><i class="fas fa-clock"></i>&nbsp; In the last hour</h5>
                </div>
            </div>
        </div>
       <!-- Card-4 -->
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                <div class="d-flex justify-content-between text-right">
                    <i class="far fa-heart fa-4x"></i>
                    <div>
                        <p class="card-text">Followers</p>
                        <h4 class="card-heading">+45K</h4>
                    </div>
                </div>
                </div>
                <div class="card-footer">
                    <h5 class="card-desc mt-1 mb-2"><i class="fas fa-sync-alt"></i>&nbsp; Update Now</h5>
                </div>
            </div>
        </div>
  
   </div>
</div>