/* You can add global styles to this file, and also import other style files */
@import './scss/variables';
body,html{
    font-family:$primary-font;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}